@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TrajanPro';
    src: url('/fonts/TrajanPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }